.client_edit_profile_form{
    width: 44vw;
}

.client_edit_profile_form .client_edit_profile_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.client_edit_profile_form .client_edit_profile_box .client_edit_profile_content{
    display: flex;
    flex-direction: column;
    width: 48%;
    /* border: 1px solid red; */
}

.client_edit_profile_form label{
    color: #999;
    letter-spacing: 1px;
    display: inline-block;
    margin: 10px 0px 5px 5px;
}

.client_edit_profile_form .txtbox{
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-bottom: 20px;
    height: auto;
    padding: 15px 12px;
}

.client_edit_profile_form .txtbox::placeholder{
    color: #999;
    letter-spacing: 1px;
}

.client_edit_profile_form .client_edit_profile_box .client_edit_profile_content textarea{
    width: 200%;
    height: 100px;
    resize: none;
}

.client_edit_profile_form button{
    margin-top: 15px;
    width: auto;
    margin-left: 40%;
    margin-right: 35%;
    background-color: #016db6;
    border: 1px solid #016db6;
    color: #fff;
    padding: 10px 24px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.client_edit_profile_form button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background: #286090;
    border: 1px solid #286090;
} 